Thumbs.db

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml

## Directory-based project format:
.idea/

# Maven
target/

# Folder with embedded server's logs
/logs/

 