.main-wrapper {
  margin-top: 3em;
}
.apartment-image {
  width: 100%;
  min-height: 450px;
  overflow: hidden;
  transform-origin: 0;
  background-image: url('./../../asserts/images/Bitmap.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .flex-centered {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-family: "Roboto";
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0.5em;
  }
}
.filter-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  li {
    display: inline;
    ul {
      .claseess{
        input {
          margin: 4px !important;
        }
      }
    }
  }
}

.open>.dropdown-menu {
  width:220px !important;
}
