@import url(../../../node_modules/bootstrap/dist/css/bootstrap.min.css);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

.navbar-fixed-top .navbar-brand {
  padding: 5px 15px; }
  .navbar-fixed-top .navbar-brand .logo-image {
    height: 35px;
    margin-top: 5px; }
.navbar-fixed-top .navbar-right li a {
  color: #8898aa; }
  .navbar-fixed-top .navbar-right li a:hover, .navbar-fixed-top .navbar-right li a:focus {
    background: none; }
.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #454552; }
.navbar-fixed-top .sign-in:after {
  font: normal 11px StripeIcons;
  content: '\279E';
  padding-left: 5px; }

.hero-section {
  width: 100%;
  min-height: 650px;
  overflow: hidden;
  transform-origin: 0;
  background-image: url("./../../asserts/images/Bitmap.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .hero-section .title {
    font-family: "Roboto";
    color: #FFF;
    text-align: center;
    font-size: 5em;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); }
    .hero-section .title span {
      padding: 0 15px; }
  .hero-section .description {
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-top: 0.1em;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); }
  .hero-section .nav-phone {
    color: #fff;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); }
  .hero-section .nav-description {
    margin-bottom: 15em; }

.liner {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center; }

.feature-image-one {
  height: 100%;
  width: 100%; }

.button-wrapper {
  margin-top: 30px;
  min-height: 80px;
  text-align: center; }
  .button-wrapper .welcome--header--contact {
    display: inline-block; }
  .button-wrapper .blue {
    margin: 5px; }
  .button-wrapper .blue:hover {
    bottom: 2px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.05s ease-in-out; }
  .button-wrapper .white-transparent {
    background-color: #fff;
    border: 0px solid #fff;
    padding: 16px 28px;
    color: #4ea1d3;
    text-transform: uppercase;
    margin: 5px; }
  .button-wrapper .white-transparent:hover {
    bottom: 2px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.05s ease-in-out;
    text-decoration: none; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .hero-section .title {
    font-size: 3.5em; } }
@media only screen and (max-width: 480px) {
  .navbar {
    background-color: #fff; }

  .navbar-toggle .icon-bar {
    background-color: black; }

  nav ul li a {
    color: #919fa3 !important; }

  .navbar-brand {
    color: #919fa3; } }
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px; }

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #fff;
  border-color: #fff; }

/***********************
  OUTLINE BUTTONS
************************/
.btn.outline {
  background: none;
  padding: 12px 22px; }

.btn-primary.outline {
  border: 2px solid #fff;
  color: #fff; }

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  border-color: #fff; }

.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #fff;
  color: #fff;
  box-shadow: none; }

.nav li a:hover {
  background-color: transparent; }

.nav li a {
  border: solid 1px white;
  color: #fff;
  padding: 10px;
  margin-top: 0.4em;
  border-radius: 2px; }

/******/
.btn {
  margin-top: 10px;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none; }

.nav li {
  margin-left: 10px; }

.main {
  background-color: #f6f8fa;
  color: #9b9da0; }

.information, .menu, .social, .feedback {
  list-style-type: none; }
  .information a, .menu a, .social a, .feedback a {
    text-decoration: none;
    color: #9b9da0; }

.menu li, .social li {
  display: inline;
  margin-left: 20px; }

.information, .feedback {
  font-size: 14px; }

.information-wrapper {
  width: 250px; }

.feedback-wrapper {
  widows: 240px; }

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000; }

/*# sourceMappingURL=index.css.map */
