.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar-fixed-top {
  .navbar-brand {
    padding: 5px 15px;
    .logo-image {
      height: 35px;
      margin-top: 5px;
    }
  }
  .navbar-right li a {
    color: #8898aa;
    &:hover,
    &:focus {
      background: none;

    }
  }
  .navbar-toggle .icon-bar {
    background-color: #454552;
  }
  .sign-in {
    &:after {
      font: normal 11px StripeIcons;
      content: '\279E';
      padding-left: 5px;
    }
  }
}

.hero-section {
  width: 100%;
  min-height: 650px;
  overflow: hidden;
  transform-origin: 0;
  background-image: url('./../../asserts/images/Bitmap.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .title {
    font-family: "Roboto";
    color: #FFF;
    text-align: center;
    font-size: 5em;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    span {
      padding: 0 15px;
    }
  }
  .description {
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-top: 0.1em;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  }
  .nav-phone {
    color: #fff;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  }
  .nav-description {
    margin-bottom: 15em;
  }
}
.liner {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-image-one {
  height: 100%;
  width: 100%;
}
.button-wrapper {
  margin-top: 30px;
  min-height: 80px;
  text-align: center;
  .welcome--header--contact {
    display: inline-block;
  }
  .blue {
    margin: 5px;
  }
  .blue:hover {
    bottom: 2px;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transition: all 0.05s ease-in-out;
  }
  .white-transparent {
    background-color: #fff;
    border: 0px solid #fff;
    padding: 16px 28px;
    color: #4ea1d3;
    text-transform: uppercase;
    margin: 5px;
  }
  .white-transparent:hover {
    bottom: 2px;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transition: all 0.05s ease-in-out;
    text-decoration: none;
  }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
  .hero-section {
    .title {
      font-size: 3.5em;
    }
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    background-color: #fff;
  }
  .navbar-toggle .icon-bar {
    background-color: black;
  }
  nav ul li a {
    color: #919fa3 !important;
  }
  .navbar-brand {
    color: #919fa3;
  }
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #fff;
    color: #fff;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #fff;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #fff;
    color: #fff;
    box-shadow: none;
}

.nav li a:hover {
    background-color: transparent;
}
.nav li a {
    border: solid 1px white;
    color: #fff;
    padding: 10px;
    margin-top: 0.4em;
    border-radius: 2px;
}
/******/

.btn {
    margin-top: 10px;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.nav li {
  margin-left: 10px;
}

.partners {
  background-color: #f6f8fa;
  .parents-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
    justify-content: space-evenly;
    align-items: center;
    max-height: 105px;
    overflow: hidden;
  }
}
.all-simple {
  text-align: center;
  margin-bottom: 50px;
  .main-title {
    opacity: 0.33;
    font-size: 82px;
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: center;
    color: #ffa900;
    text-transform: uppercase;
  }
  .subtitle {
    font-size: 30px;
    margin-top: -50px;
    text-transform: uppercase;
    letter-spacing: -0.9px;
    text-align: center;
    color: #000000;
  }
  .description {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.7px;
    text-align: center;
    color: #868686;
    text-transform: uppercase;
    margin-top: 15px;
  }
  .all-simple-images {
    margin-top: 50px;
  }
}
.few-appartments {
  background-color: #f6f8fa;
}
.main {
  background-color: #f6f8fa;
  color: #9b9da0;
}
.information, .menu, .social, .feedback {
  list-style-type: none;
  a {
    text-decoration: none;
    color: #9b9da0;
  }
}

.menu li, .social li {
  display: inline;
  margin-left: 20px;
}

.information, .feedback {
  font-size: 14px;
}

.information-wrapper {
  width: 250px;
}

.feedback-wrapper {
  widows: 240px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
