.main {
  background-color: #f6f8fa;
  color: #9b9da0;
  .menu {
    font-size: 20px;
    margin-top: 1em;
  }
  .information, .menu, .social, .feedback {
    list-style-type: none;
    a {
      text-decoration: none;
      color: #9b9da0;
    }
  }

  .menu li, .social li {
    display: inline;
    margin-left: 20px;
  }

  .information, .feedback {
    font-size: 14px;
  }

  .information-wrapper {
    width: 250px;
    margin-top: 1em;
  }

  .feedback-wrapper {
    widows: 240px;
    margin-top: 1em;
  }

  .social li a:hover {
    color: #ffa900;
  }
}
